<header class="header">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
    <a [routerLink]="'/'" class="header__title header__hover text-decoration-none pr-3">Angular Email</a>
    <nav>
      <ul class="list-unstyled d-flex mb-0">
        <li class="pr-3">
          <a
            class="header__text text-decoration-none"
            [routerLink]="'/'"
            [routerLinkActive]="['header__is-active']"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>

        <ng-container *ngIf="loggedIn$ | async; else loggedOut">
          <li class="pr-3">
            <a
              class="header__text text-decoration-none"
              [routerLink]="inboxRoute"
              [routerLinkActive]="['header__is-active']">Inbox</a>
          </li>

          <li class="pr-3">
            <a class="header__text text-decoration-none"
               [routerLink]="logoutRoute"
               [routerLinkActive]="['header__is-active']">Log Out</a>
          </li>
        </ng-container>

        <ng-template #loggedOut>
          <li class="pr-3">
            <a class="header__text text-decoration-none"
               [routerLink]="loginRoute"
               [routerLinkActive]="['header__is-active']">Log In</a>
          </li>

          <li class="pr-3">
            <a class="header__text text-decoration-none"
               [routerLink]="registerRoute"
               [routerLinkActive]="['header__is-active']">Register</a>
          </li>
        </ng-template>
      </ul>
    </nav>
  </div>
</header>

