<form class="p-5" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 class="home__title text-center">Submit email</h3>
    <app-input
      label="Receiver"
      [control]="form.get('receiver')"
      type="email"
      id="receiver"
      [required]="false">
    </app-input>

    <app-input
      label="Subject"
      [control]="form.get('subject')"
      type="email"
      id="subject"
      [required]="false">
    </app-input>

  <app-editor
    label="Post"
    [control]="form.get('post')">
  </app-editor>
  
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Send</button>
</form>
